<!DOCTYPE html>
<html>
<head>
  <title><%=typeof title == 'undefined' ? 'Slides Remote' : title%></title>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


  <!--
      Stylesheets and Preprocessors
      ==============================

      You can always bring in CSS files manually with `<link>` tags, or asynchronously
      using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
      of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, stylesheets from your `assets/styles` folder are included
      here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
      are supported. In production, your styles will be minified and concatenated into
      a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your CSS files
          + Import stylesheets from other directories
          + Use a different or additional preprocessor, like SASS, SCSS or Stylus
  -->

  <link rel="stylesheet" href="/styles/admin/stylesheets/modular-admin/app-orange.css">
  <link rel="stylesheet" href="/styles/admin/stylesheets/modular-admin/vendor.css">
  <link rel="stylesheet" href="/styles/importer_general.css">

  <link rel="stylesheet" href="/bower_components/simple-line-icons/css/simple-line-icons.css">
  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">

</head>

<body ng-app="adminSlidesRemote">

<div class="main-wrapper" ng-controller="adminController">

  <div class="app header-fixed sidebar-fixed" id="app" ng-class="{ 'sidebar-open' : openSideBar}">

    <header class="header">
      <div class="header-block header-block-collapse hidden-lg-up">
        <button ng-click="toggleSideBar()" class="collapse-btn" id="sidebar-collapse-btn">
          <i class="fa fa-bars"></i>
        </button>
      </div>

      <div class="header-block header-block-nav">
        <ul class="nav-profile">
          <li class="notifications new">
          </li>
          <li class="profile dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              <div class="img"><i class="icons icon-user"></i> </div> <span class="name">
    			      {{ user.username }}
    			    </span>
            </a>
            <div class="dropdown-menu profile-dropdown-menu" aria-labelledby="dropdownMenu1">
              <!--a class="dropdown-item" href="#"> <i class="fa fa-user icon"></i> Profile </a>
              <a class="dropdown-item" href="#"> <i class="fa fa-bell icon"></i> Notifications </a>
              <a class="dropdown-item" href="#"> <i class="fa fa-gear icon"></i> Settings </a>
              <div class="dropdown-divider"></div-->
              <a class="dropdown-item" href="/auth/logout"> <i class="fa fa-power-off icon"></i> Logout </a>
            </div>
          </li>
        </ul>
      </div>
    </header>

    <aside class="sidebar">
      <div class="sidebar-container">
        <div class="sidebar-header">
          <div class="brand">
            <span class="logo logo_slide_remote">
              <img src="/images/logo/logo_slides_remote.svg">
            </span>
            <span>
              Slides remote
            </span>
          </div>
        </div>
        <nav class="menu">
          <ul class="nav metismenu" id="sidebar-menu">
            <li class="<%= document.currentView == 'liveSlides' ? 'active' : '' %>">
              <a href="/admin"> <i class="fa fa-users"></i> Presentaciones  </a>
            </li>
            <li class="<%= document.currentView == 'mySlides' ? 'active' : '' %>">
              <a href="/admin/my_slides"> <i class="fa fa-files-o"></i> Mis Presentaciones </a>
            </li>
            <li class="<%= document.currentView == 'createSlides' ? 'active' : '' %>">
              <a href="/admin/create_slides"> <i class="fa fa-files-o"></i> Crear Presentación </a>
            </li>
          </ul>
        </nav>
      </div>
    </aside>

    <div class="sidebar-overlay" id="sidebar-overlay" ng-click="toggleSideBar()" ng-show="openSideBar"></div>

    <%- body %>

    <footer class="footer">
      <div class="footer-block buttons"> <iframe class="footer-github-btn" src="https://ghbtns.com/github-btn.html?user=jdmorales&amp;repo=slides_remote&amp;type=star&amp;count=true" frameborder="0" scrolling="0" width="140px" height="20px"></iframe> </div>
    </footer>

  </div>

</div>

<script src="/js/dependencies/sails.io.js"></script>

<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/metisMenu/dist/metisMenu.min.js"></script>
<script src="/bower_components/angular/angular.min.js"></script>
<script src="/angular-admin/main_admin.js"></script>

<script>
  //System.import('app').catch(function(err){ console.error(err); });
</script>
</body>
</html>
